# Entornos virtuales
.venv/
env/
venv/
ENV/

# Configuración y Secretos (CRÍTICO para seguridad)
.env
.vscode/

# Archivos de Datos (Evita subir información privada de alumnos)
*.xlsx
*.csv
logs/*.xlsx
logs/*.csv
enviados.txt
logs/asistencia_enviada.txt

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
logs/*.log